body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fafafa;
  color: #222;
}
input, textarea, button {
  font-family: inherit;
  font-size: 1rem;
}
form > * {
  display: block;
  margin-bottom: 0.5rem;
}
